{% extends "base.html" %}

{% block content %}
<h1 class="title">
    <img src="static/profile.png" alt="User Image" style="width:150px">
    <center>    <table style="font-size:20px;">
        <tr>
            <td>First Name </td><td> :  {{fname}}</td></tr>
            <tr><td>Last Name </td><td> :  {{lname}}</td></tr>
            <tr><td>Email </td><td> :  {{email}}</td></tr>
    </table></center>
    <br>
    {% if filename!="" and filename!=None %}
        <div>number of words in the file are {{count}}</div>
        <a href="{{ url_for('static', filename=filename) }}" download><button>download</button></a>
    {% endif %}
   
</h1>
{% endblock %}